* {
	font-family: 'Roboto', sans-serif;
}

.m-width {
	max-width: 1400px;
}

.name {
	color: dimgray; 
	text-align: center;
}

.font-green {
	color: #009688;
}

.font-gray {
	color: gray;
}

h6 {
	color: #009688;
}

h5 {
	color: dimgray;
	font-weight: 700 !important;
}

.padd-right-15 {
	padding-right: 15px;
}

.padding-15 {
	padding: 15px 5px;
}

.bg-white {
	background-color: #fff !important;
}

.marg-right-15 {
	margin-right: 15px;
}

.w-90 {
	width: 90%;
}

.w-85 {
	width: 85%;
}

.w-65 {
	width: 65%;
}

.w-100 {
	width: 100%;
}

.height-20 {
	height: 20px !important;
}